services:
    api:
      build:
        context: ../..
        dockerfile: ops/docker/Dockerfile.local
      ports:
      - "9091:9091"
      environment:
      - PORT=9091
      healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:9091/status"]
          interval: 1s
          timeout: 3s
          retries: 10
      depends_on:
        database:
          condition: service_healthy

    database:
      image: mariadb:latest
      environment:
        - MARIADB_ROOT_PASSWORD=root
      ports:
        - "3306:3306"
      restart: always
      volumes:
        - db:/var/lib/mysql
        - ../mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
      healthcheck:
        test: [ "CMD-SHELL", "mariadb -u root --password=root -e 'SELECT 1'" ]
        interval: 5s
        timeout: 10s
        retries: 5


volumes:
    db: